

body{
    margin: 0px;
}

.head{
    font-weight: bold;
    font-family: "Roboto";
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    
}


.card1{
    background-image: url("./assets/images/image-waffle-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 7px;
    flex-grow: 1;
}


.card2{
    background-image: url("./assets/images/image-creme-brulee-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 7px;
    flex-grow: 1;
}

.card3{
    background-image: url("./assets/images/image-macaron-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 7px;
    flex-grow: 1;
}

.card4{
    background-image: url("./assets/images/image-tiramisu-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 7px;
    flex-grow: 1;
}

.card5{
    background-image: url("./assets/images/image-baklava-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 7px;
    flex-grow: 1;
}

.card6{
    background-image: url("./assets/images/image-meringue-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 7px;
    flex-grow: 1;
}

.card7{
    background-image: url("./assets/images/image-cake-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 7px;
    flex-grow: 1;
}

.card8{
    background-image: url("./assets/images/image-brownie-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 7px;
    flex-grow: 1;
}

.card9{
    background-image: url("./assets/images/image-panna-cotta-desktop.jpg");
    background-size: cover;
    min-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 7px;
    flex-grow: 1;
}

.cart-icon{
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
    color: red;
    margin: 5px;
}

.decrement-icon{
    color: green;
    width: 10px;
    height: 10px;
    margin-top: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.increment-icon{
    color: green;
    width: 10px;
    height: 10px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.button1{
    font-family: "Roboto";
    border-radius: 20px;
    border:  white;
    width: 105px;
    height: 25px;
    margin-top: 135px;
    font-size: 11px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 5px;
    border-color: white;
}

.p1{
    color: gray;
    font-family: "Roboto";
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
}
.p2{
    font-weight: bold;
    font-family: "Roboto";
    display: flex;
    align-self: flex-start;
    font-size: 12px;
}
.rate{
    color: red;
    font-family: "Roboto";
    font-weight: bold;
    display: flex;
    align-self: flex-start;
    margin-bottom: 30px;
}

.home{
    
    display: flex;
    flex-direction: row;
}

.background{
    background-color: rgba(255, 182, 193, 0.197);
    padding-top: 30px;
    padding: 50px;
}

.cart{
    background-color: white;
    margin-left: 10px;
    align-self: flex-start;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 7px;
    flex-grow: 1;
}

.cart-head{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.8);
    margin-top: 10px;
    width: 230px;
}

.cart-para{
    font-family: "Roboto";
    font-size: 15px;
    
}

.cart-items{
    font-family: "Roboto";
    font-size: 15px;
    min-width: 170px;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    
}

.mini-cart{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.container-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-order-container{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.type-delivery{
    display: flex;
}

.type-delivery-para{
    margin-left: 20px;
    font-size: 13px;
    font-family: "Roboto";
}


.type-delivery-span{
    font-family: "Sans Serif";
    font-style: italic;
    font-weight: bold;
}

.img-delivery-type{
    margin-bottom: 10px;
}

.total-order{
    font-family: "Sans Serif";
    font-weight: bold;
    font-size: 20px;
}

.total-rate{
    font-family: "Sans Serif";
    font-weight: bold;
    font-size: 25px;
}

.button-in-cart{
    background-color: rgba(165, 42, 42, 0.897);
    font-family: "Roboto";
    color: white;
    font-weight: bold;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    border-width: thin;
    border-color: brown;
}

.remove-img1{
    margin-left: 32px;
    cursor: pointer;
}

.remove-img2{
    margin-left: 20px;
    cursor: pointer;
}

.remove-img3{
    margin-left: 20px;
    cursor: pointer;
}

.remove-img4{
    margin-left: 86px;
    cursor: pointer;
}

.remove-img5{
    margin-left: 80px;
    cursor: pointer;
}

.remove-img6{
    margin-left: 60px;
    cursor: pointer;
}

.remove-img7{
    margin-left:90px;
    cursor: pointer;
}

.remove-img8{
    margin-left: 38px;
    cursor: pointer;
}

.remove-img9{
    margin-left: 66px;
    cursor: pointer;
}

.cards-styles-after-click{
    border-style: solid;
    border-color: red;
}

.button-styles-after-click1{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.quantity1{
    margin-top: 4px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
}



/* From Uiverse.io by marcelodolza */ 
.button {
    --primary: #ff5569;
    --neutral-1: #f7f8f7;
    --neutral-2: #e7e7e7;
    --radius: 14px;
  
    cursor: pointer;
    border-radius: var(--radius);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: 0 0.5px 0.5px 1px rgba(255, 255, 255, 0.2),
      0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    min-width: 200px;
    padding: 20px;
    height: 68px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
  }
  .button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
      0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 3px -3px rgba(0, 0, 0, 0.04);
  }
  .button:active {
    transform: scale(1);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
      0 10px 3px -3px rgba(0, 0, 0, 0.2);
  }
  .button:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    border: 2.5px solid transparent;
    background: linear-gradient(var(--neutral-1), var(--neutral-2)) padding-box,
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45))
        border-box;
    z-index: 0;
    transition: all 0.4s ease;
  }
  .button:hover::after {
    transform: scale(1.05, 1.1);
    box-shadow: inset 0 -1px 3px 0 rgba(255, 255, 255, 1);
  }
  .button::before {
    content: "";
    inset: 7px 6px 6px 6px;
    position: absolute;
    background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
    border-radius: 30px;
    filter: blur(0.5px);
    z-index: 2;
  }
  .state p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .state .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1.25);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .state .icon svg {
    overflow: visible;
  }
  
  /* Outline */
  .outline {
    position: absolute;
    border-radius: inherit;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    inset: -2px -3.5px;
  }
  .outline::before {
    content: "";
    position: absolute;
    inset: -100%;
    background: conic-gradient(
      from 180deg,
      transparent 60%,
      white 80%,
      transparent 100%
    );
    animation: spin 2s linear infinite;
    animation-play-state: paused;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .button:hover .outline {
    opacity: 1;
  }
  .button:hover .outline::before {
    animation-play-state: running;
  }
  
  /* Letters */
  .state p span {
    display: block;
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
  }
  .button:hover p span {
    opacity: 1;
    animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
  }
  .button:focus p span {
    opacity: 1;
    animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
  }
  @keyframes wave {
    30% {
      opacity: 1;
      transform: translateY(4px) translateX(0) rotate(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-3px) translateX(0) rotate(0);
      color: var(--primary);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0) rotate(0);
    }
  }
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px) translateX(5px) rotate(-90deg);
      color: var(--primary);
      filter: blur(5px);
    }
    30% {
      opacity: 1;
      transform: translateY(4px) translateX(0) rotate(0);
      filter: blur(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-3px) translateX(0) rotate(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0) rotate(0);
    }
  }
  @keyframes disapear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateX(5px) translateY(20px);
      color: var(--primary);
      filter: blur(5px);
    }
  }
  
  /* Plane */
  .state--default .icon svg {
    animation: land 0.6s ease forwards;
  }
  .button:hover .state--default .icon {
    transform: rotate(45deg) scale(1.25);
  }
  .button:focus .state--default svg {
    animation: takeOff 0.8s linear forwards;
  }
  .button:focus .state--default .icon {
    transform: rotate(0) scale(1.25);
  }
  @keyframes takeOff {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      transform: translateX(70px) rotate(45deg) scale(2);
    }
    100% {
      opacity: 0;
      transform: translateX(160px) rotate(45deg) scale(0);
    }
  }
  @keyframes land {
    0% {
      transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
      opacity: 0;
      filter: blur(3px);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0);
      opacity: 1;
      filter: blur(0);
    }
  }
  
  /* Contrail */
  .state--default .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;
    left: -5px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
  }
  .button:focus .state--default .icon:before {
    animation: contrail 0.8s linear forwards;
  }
  @keyframes contrail {
    0% {
      width: 0;
      opacity: 1;
    }
    8% {
      width: 15px;
    }
    60% {
      opacity: 0.7;
      width: 80px;
    }
    100% {
      opacity: 0;
      width: 160px;
    }
  }
  
  /* States */
  .state {
    padding-left: 29px;
    z-index: 2;
    display: flex;
    position: relative;
  }
  .state--default span:nth-child(7) {
    margin-right: 5px;
  }
  .state--sent span:nth-child(5) {
    margin-right: 5px;
  }
  .state--sent {
    display: none;
  }
  .state--sent svg {
    transform: scale(1.25);
    margin-right: 8px;
  }
  .button:focus .state--default {
    position: absolute;
  }
  .button:focus .state--sent {
    display: flex;
  }
  .button:focus .state--sent span {
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
  }
  .button:focus .state--sent .icon svg {
    opacity: 0;
    animation: appear 1.2s ease forwards 0.8s;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(4) rotate(-40deg);
      color: var(--primary);
      filter: blur(4px);
    }
    30% {
      opacity: 1;
      transform: scale(0.6);
      filter: blur(1px);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
      filter: blur(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }